<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Product</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <article class="panel is-primary">
    <div class="index-img-<%=product.category%>">
      <div class="title is-size-3 has-text-centered is-capitalized has-text-white-ter has-text-weight-bold">
        <span><%=product.name%></span>
    </div>
    </div>
    <form action="/products/<%=product._id %>?_method=PUT" method="POST" class="add-new-form">
      <div class="field">
        <label for="name" class="label">Product Name</label>
        <input type="text" id="name" name="name" placeholder="product name" value="<%=product.name%>" class="input">
      </div>
      </div>
      <label for="price" class="label">Price (Unit)</label>
      <input type="number" id="price" name="price" placeholder="Price" value="<%=product.price%>" class="input">
      <div class="field">
        <label for="category" class="label">Select Category</label>
        <div class="control">
          <div class="select">
            <select name="category" id="category" class="select">
              <% for (let category of categories) {%>
                <option value="<%=category%>" <%=product.category===category ? 'selected' :'' %>><%=category.charAt(0).toUpperCase() + category.slice(1)%>
                </option>
                <% } %>
            </select>
          </div>
        </div>
      </div>
      <div class="btn-wrap">
        <button class="button is-link">Submit</button>
        <a href="/products/<%=product._id%>" class="button is-link is-light">Cancel</a>
      </div>
    </form>
  </article>

</body>

</html>